<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error 500</title>
</head>

<body class="d-flex justify-content-center align-items-center" style="height:100vh">

<div class="glass-card p-5 text-center">

    <h1 class="fw-bold text-danger">500</h1>
    <h4 class="mb-3">Internal Server Error</h4>

    <p>Something went wrong on our side.</p>

    <a th:href="@{/web/}" class="btn btn-primary mt-3">
        <i class="bi bi-arrow-repeat"></i> Try Again
    </a>

</div>

</body>
</html>
